/* font that applies to the whole site */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* my variables */
:root {
    /* color palette */
    --primaryColor: #21243d;
    --secondaryColor: #6469a0;
    --complimentaryColor: ;
    --textColor: #ffffff;
    /* keep all my transitions uniform */
    --globalTransition: 100ms ease-out;
}

/* background color of the whole site */
body {
    background-color: #0f0f0f;
}

/* hidden class that I utilize to switch between start screen, quiz, and game over screen */
.hidden {
    display: none;
}

/* some global transitions */
#start button,
#quiz button {
    transition: var(--globalTransition);
}

/* Start button on the start screen */
#start button {
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: 0;
    border-radius: 20px;
    display: block;
    margin: 500px auto;
    padding: 20px 40px;
    font-size: 4rem;
}

#start button:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
    scale: 110%;
    transition: var(--globalTransition);
}

/* the question displayed at the top of the screen */
#question {
    text-align: center;
    font-size: 3rem;
    margin: 5% 0 5% 0;
    color: var(--textColor);
}

/* answer buttons */
#quiz button {
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: 0;
    border-radius: 100px;
    width: 80vw;
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    font-size: 3rem;
}

#quiz button:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
    scale: 110%;
    transition: var(--globalTransition);
}

/* quiz timer */
#timerH2 {
    position: relative;
    text-align: center;
    font-size: 3rem;
    padding-top: 200px;
    color: var(--textColor);
}

#endScreen {

}

/* Final score */
#endScreen h2 {
    color: var(--textColor);
    text-align: center;
    padding: 200px;
    font-size: 3rem;
}

#endscreen input,
#endScreen button {
    left: 2000px;
    background-color: #21243d;

}

/* Last score */
#endScreen li {
    color: var(--textColor);
    text-align: center;
    padding: 100px;
    font-size: 2rem;
}

/* detects if screen is in portrait */
@media screen and (orientation:portrait) {

    
}
