/* font that applies to the whole site */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* my variables */
:root {
    /* color palette */
    --primaryColor: #ffb8c7;
    --secondaryColor: #64a089;
    --fontColor: #ffffff;
    /* keep transitions consistent */
    --globalTransition: 100ms ease-out;
}

/* background color of the whole site */
body {
    background-color: #0f0f0f;
}

/* hidden class that I utilize to switch between start screen, quiz, and highscore screen. I now realize how ridiculous(lets say unique) this is and should of started with other html docs but it works and ran out of time */
.hidden {
    display: none;
}

/* fixes some overflow on the start and quiz screens due to my poor methodology as stated in the above comment */
#start,
#quiz {
    overflow: hidden;
}

#start button,
#quiz button,
#endScreen button {
    transition: var(--globalTransition);
}

/* Start button on the start screen */
#start button {
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: 0;
    border-radius: 20px;
    display: block;
    margin: 500px auto;
    padding: 20px 40px;
    font-size: 4rem;
}

#start button:hover,
#quiz button:hover,
#endScreen button:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
    scale: 110%;
    transition: var(--globalTransition);
}

/* the question displayed at the top of the screen */
#question {
    text-align: center;
    font-size: 3rem;
    margin: 5% 0 5% 0;
    color: var(--fontColor);
}

/* answer buttons */
#quiz button {
    background-color: var(--primaryColor);
    color: var(--textColor);
    border: 0;
    border-radius: 100px;
    width: 80vw;
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    font-size: 3rem;
}

/* quiz timer */
#timerH2 {
    position: relative;
    text-align: center;
    font-size: 3rem;
    padding-top: 200px;
    color: var(--fontColor);
}

/*  */
#endScreen div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#endScreen input {
    height: 100px;
    width: 400px;
    font-size: 4rem;
    text-align: center;
}

#endScreen button {
    background-color: var(--primaryColor);
    border: 0;
    border-radius: 20px;
    height: 60px;
    width: 140px;
    font-size: 2rem;
    margin: 20px;
}

/* final score */
#endScreen h2,
#endScreen ul {
    color: var(--fontColor);
    font-size: 3rem;
    text-align: center;
    padding: 120px 0;
}


/* detects if screen is in portrait */
@media screen and (max-width: 768px) {
    #endScreen h2,
    #endScreen ul {
        font-size: 2rem;
    }
    
}
